/*Simple styles for sidebar header and main to stay apart from each other*/
.top {
  left:0; right:0;
  height: 92px;
}
.left {
  height: 100%;
  position: fixed;
  overflow: auto;
  width: 178px;
}
.main {
  left:178px; top:92px; right:0; bottom:0;
  height: 200px;
}
.day {
  display:inline-block;
}

.card {
  left: 1000px; top:0; bottom: 0; 
  width: 300px;
}

.sidenav {
  width: 8rem;
}

.date {
  font-size: 20px;
  display:inline;
}

a:hover {
  color: none;
  background-color: none;
  text-decoration: none;
}
